<a href="https://colab.research.google.com/github/ThitipongKan/DPDM65/blob/main/final1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import package

In [1]:
#import เพื่อดึง package data ตั้งชื่อเป็น pd
import pandas as pd
import numpy as np

#Import data

In [2]:
from google.colab import drive #เชื่อม google drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [3]:
train_df = pd.read_csv('/content/drive/MyDrive/DPDM65/train.csv')

In [4]:
train_df.head()

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN

In [5]:
train_df.describe()

,Unnamed: 0,land wide(m),zip_code,number_of_rai,number_of_va,construct_year,model
count,2725.000000,315.000000,1.741000e+03,2725.000000,2725.000000,0.0,0.0
mean,1362.000000,55.456159,4.635122e+06,3.561101,44.054606,NaN,NaN
std,786.784066,75.585414,1.355348e+08,15.905963,58.956727,NaN,NaN
min,0.000000,4.000000,4.000000e+04,0.000000,0.000000,NaN,NaN
25%,681.000000,12.000000,4.000000e+04,0.000000,5.000000,NaN,NaN
50%,1362.000000,27.500000,4.000000e+04,0.000000,35.000000,NaN,NaN
75%,2043.000000,65.000000,4.013000e+04,0.000000,66.000000,NaN,NaN
max,2724.000000,420.000000,4.000040e+09,458.000000,1656.000000,NaN,NaN

In [6]:
train_df.dtypes

Unnamed: 0              int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)           object
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude              object
number_of_rai         float64
number_of_ngan         object
number_of_va          float64
construct_year        float64
model                 float64
sell_price             object
number_of_unit         object
number_of_story        object
number_of_bedroom      object
number_of_bathroom     object
number_of_parking      object
usable_area            object
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage     object
dtype: object

In [7]:
train_df.isnull().any()

Unnamed: 0            False
id                    False
project_name           True
company                True
province               True
district               True
sub_district           True
property_type         False
home improvement       True
renovate               True
public utility         True
land type              True
land wide(m)           True
land long(m)           True
topsoil                True
corner                 True
zip_code               True
zone                   True
alley                  True
street                 True
latitude               True
longitude              True
number_of_rai         False
number_of_ngan        False
number_of_va          False
construct_year         True
model                  True
sell_price             True
number_of_unit         True
number_of_story        True
number_of_bedroom      True
number_of_bathroom     True
number_of_parking      True
usable_area            True
central_cost           True
direction              True
furniture              True
building_number        True
number_of_building     True
floor_number           True
parking_percentage     True
dtype: bool

#จัดการค่าในตารางเบื้องต้น

##ทำการแก้ตัวแปรที่มีปัญหา

In [8]:
train_df['sell_price'] = pd.to_numeric(train_df['sell_price'],errors='coerce')

In [9]:
train_df['number_of_ngan'] = pd.to_numeric(train_df['number_of_ngan'],errors='coerce')

In [10]:
train_df['number_of_unit'] = pd.to_numeric(train_df['number_of_unit'],errors='coerce')
train_df['number_of_story'] = pd.to_numeric(train_df['number_of_story'],errors='coerce')
train_df['number_of_bedroom'] = pd.to_numeric(train_df['number_of_bedroom'],errors='coerce')
train_df['number_of_bathroom'] = pd.to_numeric(train_df['number_of_bathroom'],errors='coerce')
train_df['number_of_parking'] = pd.to_numeric(train_df['number_of_parking'],errors='coerce')
train_df['usable_area'] = pd.to_numeric(train_df['usable_area'],errors='coerce')
train_df['land long(m)'] = pd.to_numeric(train_df['land long(m)'],errors='coerce')

In [11]:
train_df.describe()

,Unnamed: 0,land wide(m),land long(m),zip_code,number_of_rai,number_of_ngan,number_of_va,construct_year,model,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
count,2725.000000,315.000000,251.000000,1.741000e+03,2725.000000,2724.000000,2725.000000,0.0,0.0,2.715000e+03,8.00000,1162.000000,1866.000000,1613.000000,1408.000000,1807.000000
mean,1362.000000,55.456159,101.519163,4.635122e+06,3.561101,0.698238,44.054606,NaN,NaN,2.837311e+07,187.00000,1.819277,1.587353,1.463732,1.240057,658.507853
std,786.784066,75.585414,118.978390,1.355348e+08,15.905963,4.361887,58.956727,NaN,NaN,7.713639e+08,140.87786,2.143345,2.253417,1.489652,8.321749,8553.396424
min,0.000000,4.000000,2.000000,4.000000e+04,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,681.000000,12.000000,20.000000,4.000000e+04,0.000000,0.000000,5.000000,NaN,NaN,1.450000e+06,64.25000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1362.000000,27.500000,41.000000,4.000000e+04,0.000000,0.000000,35.000000,NaN,NaN,2.590000e+06,170.50000,2.000000,1.000000,1.000000,0.000000,23.000000
75%,2043.000000,65.000000,150.000000,4.013000e+04,0.000000,1.000000,66.000000,NaN,NaN,4.900000e+06,336.50000,2.000000,3.000000,2.000000,2.000000,150.000000
max,2724.000000,420.000000,644.000000,4.000040e+09,458.000000,145.000000,1656.000000,NaN,NaN,4.000000e+10,347.00000,37.000000,40.000000,16.000000,288.000000,232000.000000

In [12]:
train_df.head()

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN

#ทำการเตรียมข้อมูลที่จะใช้ในการส้ราง model

In [13]:
train_df_cut=train_df.dropna(subset=['district'])

In [14]:
train_df_cut

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,2720,5130.0,เดอะ มอร์ ศรีจันทร์ ขอนแก่น,บริษัท วี ไอ พี แกรนด์ จำกัด,ขอนแก่น,เมืองขอนแก่น,พระลับ,บ้านเดี่ยว,no,no,...,6.0,5.0,0.0,1350.0,เหนือ,ตกแต่งครบ,NaN,NaN,NaN,NaN
2721,2721,30284P,NaN,NaN,ขอนแก่น,บ้านแฮด,บ้านแฮด,ที่ดิน,NaN,NaN,...,NaN,NaN,4625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2722,2722,6326.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2723,2723,6045.0,กันยารัตน์ การ์เด้นวิว รีสอร์ท,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2724,2724,18085.0,NaN,NaN,ขอนแก่น,พล,เมืองพล,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN

## ตัดข้อมูลที่ไม่ได้ใช้พร้อมเปลี่ยนชื่อ

In [15]:
train_df1=train_df_cut.iloc[:,[False,False,False,False,False,True,False,True,False,False,False,False,True,True,False,False,False,False,False,False,False,False,True,True,True,False,False,True,True,True,True,True,True,True,False,False,True,False,False,False,False]]

In [16]:
train_df1.describe()

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
count,314.000000,250.000000,2721.000000,2720.000000,2721.000000,2.713000e+03,8.00000,1162.000000,1866.000000,1613.000000,1408.000000,1806.000000
mean,54.827038,100.725240,3.549063,0.697794,44.082617,2.826654e+07,187.00000,1.819277,1.587353,1.463732,1.240057,656.369707
std,74.875461,118.548993,15.897485,4.364910,58.973378,7.716245e+08,140.87786,2.143345,2.253417,1.489652,8.321749,8555.282402
min,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000e+00,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,20.000000,0.000000,0.000000,5.000000,1.450000e+06,64.25000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,27.250000,41.000000,0.000000,0.000000,35.000000,2.590000e+06,170.50000,2.000000,1.000000,1.000000,0.000000,23.000000
75%,64.750000,149.500000,0.000000,1.000000,66.000000,4.900000e+06,336.50000,2.000000,3.000000,2.000000,2.000000,150.000000
max,420.000000,644.000000,458.000000,145.000000,1656.000000,4.000000e+10,347.00000,37.000000,40.000000,16.000000,288.000000,232000.000000

#ดูเซตของข้อมูลเชิงคุณภาพที่จะใช้ในงานนี้

##property_type

In [17]:
set(train_df1['property_type'])

{'คอนโด',
 'ทาวน์โฮม',
 'ที่ดิน',
 'บ้านเดี่ยว',
 'บ้านแฝด',
 'อาคารพาณิชย์/สำนักงาน'}

##district

In [18]:
set(train_df1['district'])

{'กระนวน',
 'ชนบท',
 'ชุมแพ',
 'ชุุมแพ',
 'ซำสูง',
 'ท่าพระ',
 'น้ำพอง',
 'บ้านทุ่ม',
 'บ้านฝาง',
 'บ้านแฮด',
 'บ้านไผ่',
 'พระยืน',
 'พล',
 'ภูผาม่าน',
 'ภูเวียง',
 'มัญจาคีรี',
 'สีชมพู',
 'หนองนาคำ',
 'หนองสองห้อง',
 'หนองเรือ',
 'หนอนนาคำ',
 'อุบลรัตน์',
 'เขาสวนกวาง',
 'เปือยน้อย',
 'เมืองขอนแก่น',
 'เมืองพล',
 'เวียงเก่า',
 'แวงน้อย',
 'แวงใหญ่',
 'โคกโพธิ์ไชย',
 'โนนศิลา',
 'ในเมือง'}

##furniture

In [19]:
set(train_df1['furniture'])

{'- เครื่องทำน้ำอุ่น 2ตัว\n- มุ้งลวด ทั้งหลัง\n- เหล็กดัด ทั้งหลัง\n- ม่าน มู่ลี่ทั้งหลัง\n- กล้องวงจรปิด 8 ช่อง\n- แอร์ 2ตัว\n- ปั๊มน้ำ 1ตัว',
 nan,
 'tv\nrefrigerator\n3.5 feet bed\n3.5 feet mattress and blanket\nAir conditioner\nmicrowave\nPigtail mattress',
 'yes',
 'ครบครัน',
 'ครบชุด',
 'ครื่องปรับอากาศ 2 เครื่องในห้องนอน\nถังเก็บน้ำและปั๊มน้ำ',
 'ตกแต่งครบ',
 'ตู้เย็น เครื่องดูดควัน เตาไฟฟ้า แทงค์และปั้มน้ำ เครื่องทำน้ำอุ่น กล้องวงจรปิด\nจานดาวเทียม',
 'ตู้เย็นใหม่ ชุดโต๊ะทานข้าวกระจกขนาดหกที่นั่ง และ เก้าอี้หกชุด แอร์ และ ปั๊มน้ำ',
 'ทีวี,โซฟา,เตียงพร้อมที่นอน ,ตู้เสื้อผ้า ,โต๊ะ,เคาน์เตอร์ครัว,โต๊ะอาหาร,เครื่องปรับอากาศ 2 เครื่อง\nเครื่องทำน้ำอุ่น 1 เครื่อง เครื่องซักผ้า 1 เครื่อง',
 'บางส่วน',
 'บางส่วน ตู้เย็น เครื่องซักผ้า และแอร์ 3 ตัว',
 'บาวส่วน',
 'พร้อมเฟอร์นิเจอร์ เตียง+ที่นอน ตู้ พัดลม เครื่องปรับอากาศ 2 เครื่อง\nเครื่องทำน้ำอุ่น 2 ชุด กล้องวงจรปิด 4 ตัว\n',
 'พร้อมเฟอร์นิเจอร์ โซฟา โต๊ะ เก้าอี้ เตียง ที่นอน ตู้ ผ้าม่าน แอร์ เครื่องทำน้ำอุ่น',
 'พร้อมเฟอร์นิเจอร์โต๊ะ เก้าอี้ เตียง ที่นอน ตู้เสื้อผ้า ทีวี ชั้นวางทีวี พัดลม ตู้เย็น ไมโครเวฟ เครื่องทำน้ำอุ่น',
 'ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่องฯลฯ',
 'ฟอร์นิเจอร์ built in ครบชุดรวมแอร์',
 'มีบางส่วน',
 'มีหน้าต่างติดฟิมล์เพื่อป้องกันความร้อนพร้อมเครื่องใช้ไฟฟ้าถึงเครื่องปรับอากาศ 2 เครื่อง',
 'มีเครื่องปรับอากาศ 1 เครื่อง เครื่องทำน้ำอุ่น 2 เครื่อง',
 'มีเครื่องปรับอากาศและเครื่องทำน้ำอุ่น',
 'มีเฟอร์นิเจอร์โต๊ะ,ตู้,เตียง,พัดลม,เครื่องทำน้ำอุ่น',
 'รวมเครื่องปรับอากาศ 2 เครื่อง เครื่องทำน้ำอุ่น 1 เครื่อง เคาน์เตอร์ครัว พร้อมซิ้งค์ สแตนเลส เตียง ที่นอน ตู้ โต๊ะเครื่องแป้ง โซฟา ชั้นวางทีวี ผ้าม่าน วอลเปเปอร์',
 'รวมเครื่องปรับอากาศ,ทีวี,ตู้เย็น,โซฟา,โต๊ะ,เก้าอี้,ชั้นวางทีวี,ผ้าม่าน,ที่นอน,เตียง,เคาน์เตอร์ครัว,ซิ้งค์ล้างจาน',
 'ห้องแอร์ 3 ห้อง\nห้องพัดลม 3 ห้อง\nเครื่องทำน้ำอุ่น 6 เครื่อง\nตู้เสื้อผ้า,เตียงนอน,โต๊ะเครื่องแป้ง',
 'เครื่องปรับอากาศ',
 'เครื่องปรับอากาศ 1 เครื่อง เครื่องทำน้ำอุ่น 1 เครื่อง โซฟา ชั้นวางทีวี ถังพักน้ำ ปั้มน้ำ',
 'เครื่องปรับอากาศ 2 เครื่อง',
 'เครื่องปรับอากาศ 2 เครื่อง +เตียงนอน +ตู้เสื้อผ้า +โซฟา +โต๊ะเก้าอี้ทำงาน +เตาไฟฟ้า พร้อมเครื่องดูดควัน +ตู้เย็น +ไมโครเวฟ +ทีวี +กาต้มน้ำไฟฟ้า',
 'เครื่องปรับอากาศ 2 เครื่อง ทีวี 1 เครื่อง ตู้เย็น 1 เครื่อง เครื่องซักผ้า1 เครื่อง เคาน์เตอร์ครัว เตาแม่เหล็ก,เครื่องดูดควัน,ซิงค์ สแตนเลส เตียง ที่นอน โต๊ะ เก้าอี้ ตู้เสื้อผ้า ตู้เก็บของบิ้วอิน โซฟา ผ้าม่าน',
 'เครื่องปรับอากาศ 2 เครื่อง ระบบน้ำร้อน อ่างอาบน้ำ เคาเตอร์ครัว เตาแก๊ส เครื่องดูดควัน ตู้เย็น ทีวี โซฟา ผ้าม่าน มุ้งลวด เหล็กดัด โต๊ะอาหาร ตู้ เตียง ที่นอน ปั้มน้ำ ประตูรีโมทไฟฟ้า',
 'เครื่องปรับอากาศ 2 เครื่อง เครื่องทำน้ำอุ่น 2 เครื่อง และเครื่องระบายน้ำสำหรับทำอาหาร',
 'เครื่องปรับอากาศ 4 ตัว\n\nมุ้งลวดเหล็กดัด,ผ้าม่าน',
 'เครื่องปรับอากาศ 4 เครื่อง\nเครื่องทำน้ำอุ่น 3 เครื่อง',
 'เครื่องปรับอากาศ 6',
 'เครื่องปรับอากาศ 7 เครื่อง เฟอร์นิเจอร์ ส่วนใหญ่นำเข้าจากประเทศอังกฤษ',
 'เครื่องใช้ไฟฟ้า:\n- เครื่องปรับอากาศ\n- ทีวีติดผนัง\n- เครื่องทำน้ำอุ่น\n- ตู้เย็น ไมโครเวฟ\n- เครื่องต้มน้ำร้อน',
 'เตียงที่นอน 2 ชุด โต๊ะเก้าอี้ทำงาน 1 ชุด โต๊ะเก้าอี้ทานอาหาร 1 ชุด โซฟา 1 ชุด ทีวี 2 เครื่อง เครื่องปรับอากาศ 3 เครื่อง ตู้เย็น 1 เครื่อง เครื่องซักผ้า 1 เครื่อง เครื่องดูดควัน 1 เครื่อง ไมโครเวฟ 1 เครื่อง',
 'เฟอร์นิเจอร์ built-in พร้อมที่เก็บของ',
 'เฟอร์นิเจอร์ครบ',
 'เฟอร์นิเจอร์ครบ แอร์ ทีวี ตู้เย็น เฟอร์นิเจอร์ น้ำ เครื่องทำน้ำอุ่น',
 'เฟอร์นิเจอร์บิวท์อิน',
 'เฟอร์นิเจอร์บิ้วอินทั้งหลัง',
 'เฟอร์นิเจอร์เกรดพรีเมี่ยม ผนังติดwall paper โต๊ะ เก้าอี้ ตู้เสื้อผ้า เตียงพร้อมที่นอน โซฟา เครื่องทำน้ำอุ่น 2 เครื่องเครื่องปรับอากาศ 3 เครื่องตู้เย็น\nเครื่องซักผ้า',
 'เฟอร์นิเจอร์โต๊ะ,ตู้,เตียง,พัดลม,เครื่องทำน้ำอุ่น เครื่องซักผ้าไว้บริการจำนวน 4 เครื่อง ถังพักน้ำปั้มน้ำอัตโนมัติ\n ',
 'แถม เฟอร์นิเจอร์\nเตียง6ฟุต\nแอร์\nบิวอินทุกอย่างของ Index livingmall',
 'แถม เฟอร์นิเจอร์ เตียง6ฟุต แอร์ บิวอินทุกอย่างของ Index livingmall\n',
 'แถมเครื่องปรับอากาศ,ผ้าม่าน,เครื่องทำน้ำอุ่น,ถังพักน้ำและปั้มน้ำ',
 'แอร์ 1 ตัว เครื่องทำน้ำอุ่น 2 ตัว',
 'แอร์ 3 /เครื่องทำน้ำอุ่น 1/ปั้มน้ำ/แทงค์น้ำ/ผ้า ม่าน+เหล็กดัด+มุ้งลวดทั้งหลัง',
 'แอร์ 3 ตัว',
 'แอร์ 9000 BTU, เคาน์เตอร์ครัว',
 'แอร์, TV, ตู้เสื้อผ้า, โต๊ะทานข้าว, เตียง-ที่นอน, ผ้าม่าน',
 'แอร์,ทีวี,ตู้เย็น,เฟอร์นิเจอร์ เครื่องทำน้ำอุ่น',
 'แอร์2ตัว',
 'แอร์ครบทุกห้อง , ผ้าม่านทั้งหลัง , วอลเปเปอร์ตกแต่ง ฯลฯ',
 'แอร์ฟรี 2 ตัว ปั้มน้ำและแท่งน้ำ',
 'ไม่มี',
 'ไม่มีเฟอร์นิเจอร์',
 'ไม่มีเฟอร์นิเจอร์. เฟอร์นิเจอร์นำเข้าสามารถเจรจาแยกกันโดยผู้ซื้อ',
 'ไม่รวมตู้เย็น,ทีวี,เครื่องซักผ้า',
 'ไม่รวมเฟอร์นิเจอร์',
 'ไม่ระบุ'}

#จัดการกับข้อมูลเชิงคุณภาพ

แยกจัดการ idstrict

In [20]:
train_df2 = train_df1['district']

In [21]:
train_df2

0       เมืองขอนแก่น
1       เมืองขอนแก่น
2       เมืองขอนแก่น
3       เมืองขอนแก่น
4       เมืองขอนแก่น
            ...
2720    เมืองขอนแก่น
2721         บ้านแฮด
2722    เมืองขอนแก่น
2723    เมืองขอนแก่น
2724              พล
Name: district, Length: 2721, dtype: object

In [22]:
train_df2[train_df2!='เมืองขอนแก่น']='บ้านนอก'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [23]:
train_df2

0       เมืองขอนแก่น
1       เมืองขอนแก่น
2       เมืองขอนแก่น
3       เมืองขอนแก่น
4       เมืองขอนแก่น
            ...
2720    เมืองขอนแก่น
2721         บ้านนอก
2722    เมืองขอนแก่น
2723    เมืองขอนแก่น
2724         บ้านนอก
Name: district, Length: 2721, dtype: object

แยกจัดการ furniture

In [24]:
train_df3 = train_df1['furniture']

In [25]:
train_df3

0                                                 ไม่ระบุ
1                                                 ไม่ระบุ
2       ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...
3                                                   ไม่มี
4                                                 ไม่ระบุ
                              ...
2720                                            ตกแต่งครบ
2721                                                  NaN
2722                                              ไม่ระบุ
2723                                              ไม่ระบุ
2724                                              ไม่ระบุ
Name: furniture, Length: 2721, dtype: object

In [26]:
train_df3[train_df3=='ไม่มีเฟอร์นิเจอร์']='ไม่มี'
train_df3[train_df3=='ไม่มีเฟอร์นิเจอร์. เฟอร์นิเจอร์นำเข้าสามารถเจรจาแยกกันโดยผู้ซื้อ']='ไม่มี'
train_df3[train_df3=='ไม่รวมตู้เย็น,ทีวี,เครื่องซักผ้า']='ไม่มี'
train_df3[train_df3=='ไม่รวมเฟอร์นิเจอร์']='ไม่มี'
train_df3[train_df3=='nan']='ไม่ระบุ'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [27]:
train_df3[train_df3=='nan']='ไม่ระบุ'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
train_df3[(train_df3!='ไม่มี')&(train_df3!='ไม่ระบุ')]='มี'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [29]:
train_df3

0       ไม่ระบุ
1       ไม่ระบุ
2            มี
3         ไม่มี
4       ไม่ระบุ
         ...
2720         มี
2721         มี
2722    ไม่ระบุ
2723    ไม่ระบุ
2724    ไม่ระบุ
Name: furniture, Length: 2721, dtype: object

In [30]:
train_df1.shape

(2721, 15)

In [31]:
train_df2.shape

(2721,)

In [32]:
train_df2.shape

(2721,)

In [34]:
train_df_clean = pd.concat([train_df1,train_df2,train_df3],axis=1)

In [35]:
train_df_clean

,district,property_type,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area,furniture,district,furniture
0,เมืองขอนแก่น,บ้านเดี่ยว,NaN,NaN,0.0,0.0,98.4,2860000.0,NaN,NaN,0.0,NaN,0.0,0.0,ไม่ระบุ,เมืองขอนแก่น,ไม่ระบุ
1,เมืองขอนแก่น,ที่ดิน,24.0,69.0,3.0,0.0,72.0,17490000.0,NaN,NaN,NaN,NaN,NaN,NaN,ไม่ระบุ,เมืองขอนแก่น,ไม่ระบุ
2,เมืองขอนแก่น,บ้านเดี่ยว,NaN,NaN,0.0,0.0,52.0,2800000.0,NaN,1.0,3.0,2.0,1.0,208.0,มี,เมืองขอนแก่น,มี
3,เมืองขอนแก่น,บ้านเดี่ยว,NaN,NaN,0.0,0.0,40.0,2600000.0,NaN,2.0,3.0,3.0,3.0,145.0,ไม่มี,เมืองขอนแก่น,ไม่มี
4,เมืองขอนแก่น,บ้านเดี่ยว,NaN,NaN,0.0,0.0,50.0,1490000.0,NaN,1.0,2.0,2.0,3.0,114.0,ไม่ระบุ,เมืองขอนแก่น,ไม่ระบุ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,เมืองขอนแก่น,บ้านเดี่ยว,NaN,NaN,0.0,0.0,135.0,12500000.0,NaN,2.0,5.0,6.0,5.0,0.0,มี,เมืองขอนแก่น,มี
2721,บ้านนอก,ที่ดิน,NaN,NaN,11.0,2.0,25.0,8671875.0,NaN,NaN,NaN,NaN,NaN,4625.0,มี,บ้านนอก,มี
2722,เมืองขอนแก่น,บ้านเดี่ยว,NaN,NaN,0.0,0.0,58.0,1400000.0,NaN,NaN,0.0,0.0,0.0,0.0,ไม่ระบุ,เมืองขอนแก่น,ไม่ระบุ
2723,เมืองขอนแก่น,บ้านเดี่ยว,NaN,NaN,0.0,0.0,78.0,2915000.0,NaN,NaN,0.0,0.0,0.0,0.0,ไม่ระบุ,เมืองขอนแก่น,ไม่ระบุ
2724,บ้านนอก,บ้านเดี่ยว,NaN,NaN,0.0,0.0,32.0,1045000.0,NaN,1.0,0.0,0.0,0.0,0.0,ไม่ระบุ,บ้านนอก,ไม่ระบุ