<a href="https://colab.research.google.com/github/ThitipongKan/DPDM65/blob/main/pre_procressing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import เพื่อดึง package data ตั้งชื่อเป็น pd
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive #เชื่อม google drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [3]:
project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/Copy of opendata_project.csv')
project_df.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [4]:
unit_df = pd.read_csv('/content/drive/MyDrive/DPDM65/Copy of opendata_unittype.csv')

In [5]:
unit_df.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

# DATA CLEANING

## Dealing with missing data

check missing data

In [6]:
project_df.describe()

,row_number,latitude,longitude,subdistrict_id,district_id,province_id,zipcode,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
count,23429.000000,23434.000000,23429.000000,23415.000000,23424.000000,23425.000000,23403.000000,21547.000000,18603.000000,6820.000000,8895.000000,2890.000000,11675.000000,6277.000000,9718.000000,16123.000000
mean,11715.000000,16.399159,100.600086,4216.201751,4001.917435,3942.592231,28209.221211,199.043765,2.325861,0.724340,0.848679,0.224913,0.894304,0.697308,0.874048,0.959809
std,6763.514064,176.896370,0.947247,2476.968321,1662.485878,1663.662562,24724.177495,320.029641,2.138378,0.446879,0.358382,0.417598,0.307461,0.459460,0.331812,0.196413
min,1.000000,6.839354,97.985808,1007.000000,1006.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5858.000000,13.347151,100.400282,3414.000000,3411.000000,3372.000000,10400.000000,49.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,11715.000000,13.753725,100.601281,3802.000000,3800.000000,3781.000000,20000.000000,108.000000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,17572.000000,13.946742,100.912703,4527.000000,4000.000000,3781.000000,40000.000000,240.000000,3.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,23429.000000,12160.000000,105.222114,20688.000000,20003.000000,10508.000000,390000.000000,10074.000000,96.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
project_df.isnull()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23430,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
23431,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23432,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
23433,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False

In [8]:
project_df.isnull().any() # .any() เอาค่าความจริงใน column มา or กัน

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

In [9]:
project_df.isnull().any().any()

True

In [10]:
project_df.isnull().all() # .all() เอาค่าความจริงใน column มา and กัน

row_number                False
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
developer_name_th         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
neighborhood_name_th      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_tower               False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
date_created              False
date_finish               False
date_updated              False
source                    False
url_project               False
dtype: bool

### delete records with missing data (dropna())

null, Nan (Not a number), Na (Not authorised/Not available)== missing

In [11]:
project_df.shape

(23434, 45)

In [12]:
unit_df.shape

(42625, 27)

In [13]:
project_df.dropna()

Empty DataFrame
Columns: [row_number, project_id, name_en, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, price_min, developer_id, developer_name_en, developer_name_th, latitude, longitude, neighborhood_id, neighborhood_name_en, neighborhood_name_th, subdistrict_id, subdistrict_name_en, subdistrict_name_th, district_id, district_name_en, district_name_th, province_id, province_name_en, province_name_th, zipcode, count_elevator, count_elevator_service, count_floor, count_parking, count_tower, count_unit, count_unittype, facility_clubhouse, facility_fitness, facility_meeting, facility_park, facility_playground, facility_pool, facility_security, date_created, date_finish, date_updated, source, url_project]
Index: []

[0 rows x 45 columns]

In [14]:
unit_df.dropna()

Empty DataFrame
Columns: [row_number, unittype_id, project_id, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, area_total_min_wa, area_usable_min, price_min, count_airconditioner, count_elevator, count_floor_internal, count_parking, count_room_bath, count_room_bed, count_room_dinning, count_room_guest, count_room_kitchen, count_room_living, count_room_maid, count_room_storage, count_room_utility, date_created, date_updated, source, url_unittype]
Index: []

[0 rows x 27 columns]

In [15]:
project_df.dropna(axis = 1)

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,developer_id,latitude
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,developer_10678,13.570530
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,developer_7319,13.033814
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,developer_10510,13.417402
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,developer_10510,15.038042
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,developer_1026,13.965246
...,...,...,...,...,...,...,...,...
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,developer_1760,13.814468
23430,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,developer_1793,13.834361
23431,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,developer_2217,13.859872
23432,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,developer_1004,18.808447
23433,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,developer_10510,12.684945

In [16]:
project_df.dropna(axis = 1).isnull()

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,developer_id,latitude
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
23429,False,False,False,False,False,False,False,False
23430,False,False,False,False,False,False,False,False
23431,False,False,False,False,False,False,False,False
23432,False,False,False,False,False,False,False,False
23433,False,False,False,False,False,False,False,False

In [17]:
project_df.dropna(axis = 1).isnull().any()

project_id              False
name_en                 False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
developer_id            False
latitude                False
dtype: bool

In [18]:
print(project_df.isnull().any().any())
print(project_df.shape)

True
(23434, 45)

In [19]:
project_df2 = project_df.dropna(axis = 1)
project_df2.head()

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,developer_id,latitude
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,developer_10678,13.570530
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,developer_7319,13.033814
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,developer_10510,13.417402
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,developer_10510,15.038042
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,developer_1026,13.965246

In [20]:
unit_df.dropna(axis = 1)

,row_number,unittype_id,project_id,propertytype_id,propertytype_name_en,propertytype_name_th,date_created,date_updated,source
0,27501,unittype_9565,project_2446,2,Condo,คอนโด,2021-11-19 18:00:09,2021-11-19 17:44:45,baania
1,28777,unittype_10267,project_3543,20000,Twin house,บ้านแฝด,2022-01-27 14:30:04,2022-01-27 14:22:55,baania
2,28865,unittype_471,project_143,2,Condo,คอนโด,2022-01-14 15:00:10,2022-01-14 14:40:04,baania
3,24988,unittype_19506,project_7766,2,Condo,คอนโด,2020-12-04 10:40:59,2020-10-14 01:06:48,baania
4,38596,unittype_10290,project_3551,3,Townhome,ทาวน์โฮม,2021-11-12 13:30:08,2021-02-03 12:12:54,baania
...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,1,Detached House,บ้าน,2021-11-12 13:22:37,2020-10-14 10:05:42,baania
42621,14,unittype_14016,project_5275,1,Detached House,บ้าน,2020-12-04 10:36:32,2020-10-14 00:37:51,baania
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,3,Townhome,ทาวน์โฮม,2021-11-12 13:34:17,2021-10-29 18:43:09,baania
42623,9333,unittype_37375,project_16389,1,Detached House,บ้าน,2020-12-04 10:42:26,2020-10-14 19:30:46,baania
42624,780,unittype_17011,project_6762,1,Detached House,บ้าน,2021-11-12 13:19:43,2020-10-14 00:41:39,baania

In [21]:
project_df.head().iloc[:5,-7:]

,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [22]:
project_df.head().iloc[:5,-7:].dropna(thresh = 5)

,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
3,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [23]:
project_df.dropna(subset = ['facility_pool'])

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
5,9434.0,project_15884,H2 Wood,เอชทู วูด,2,Condo,คอนโด,1480000.0,developer_1789,"Asset Wise Pub Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2019-06-28 13:47:37,2015-12-31 07:00:00,2020-12-04 10:43:13,baania,https://baania.com/th/project/เอชทู-วูด-projec...
7,9022.0,project_1488,Homeland 3 Paradise Garden,โฮมแลนด์ 3 พาราไดซ์ การ์เด้น,1,Detached House,บ้าน,2600000.0,developer_1336,NaN,...,NaN,1.0,1.0,1.0,1.0,2016-06-10 14:52:22,2022-01-01 07:00:00,2022-02-28 18:30:07,baania,https://baania.com/th/project/โฮมแลนด์-3-พาราไ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23421,14537.0,project_10988,The Elegance @ Cosy Beach,ดิ เอเลแกนซ์ แอท โคซี บีช,2,Condo,คอนโด,2700000.0,developer_7118,"AML Development Co., Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-19 14:52:43,2017-12-31 07:00:00,2020-12-04 10:31:32,baania,https://baania.com/th/project/ดิ-เอเลแกนซ์-แอท...
23422,15130.0,project_17150,Baan Puttaraksa Saiwutphaderm-Ban Thung Bia,บ้านพุทธรักษา สายวัดประเดิม-บ้านทุ่งเบี้ย,4,Commercial,อาคารพาณิชย์,2490000.0,developer_2332,Apasiri Group,...,0.0,0.0,0.0,0.0,1.0,2020-01-16 13:09:08,2014-12-31 07:00:00,2020-12-04 10:34:57,baania,https://baania.com/th/project/บ้านพุทธรักษา-สา...
23425,19326.0,project_7618,The Base Chaengwattana,เดอะเบส แจ้งวัฒนะ,2,Condo,คอนโด,1148000.0,developer_36,"SANSIRI PUB CO., LTD.",...,NaN,1.0,NaN,1.0,1.0,2017-06-01 14:07:22,2013-12-31 07:00:00,2020-12-04 10:40:54,baania,https://baania.com/th/project/เดอะเบส-แจ้งวัฒน...
23426,6902.0,project_14944,Perfect residence krungthep-kreetha,เพอร์เฟค เรสซิเดนซ์ พระราม9-กรุงเทพกรีฑา,1,Detached House,บ้าน,10900000.0,developer_1751,"PROPERTY PERFECT PUB CO., LTD.",...,NaN,1.0,NaN,1.0,1.0,2018-10-31 15:41:58,1970-01-02 07:00:00,2021-06-28 16:00:09,baania,https://baania.com/th/project/เพอร์เฟค-เรสซิเด...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...

In [24]:
project_df.dropna(subset = [1,2], axis = 1)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,latitude,...,district_name_en,district_name_th,province_id,province_name_en,province_name_th,zipcode,date_created,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,13.570530,...,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498.0,Samut Prakan,สมุทรปราการ,10280.0,2020-06-10 14:36:04,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,13.033814,...,SI RACHA,ศรีราชา,4616.0,Chon Buri,ชลบุรี,20230.0,2017-10-30 15:38:48,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,13.417402,...,PHAN THONG,พานทอง,4616.0,Chon Buri,ชลบุรี,20160.0,2022-05-05 16:43:28,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,15.038042,...,MUEANG NAKHON RATCHASIMA,เมืองนครราชสีมา,2857.0,Nakhon Ratchasima,นครราชสีมา,30000.0,2016-09-05 15:32:15,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,13.965246,...,MUEANG PATHUM THANI,เมืองปทุมธานี,3599.0,Pathum Thani,ปทุมธานี,12000.0,2019-09-05 11:49:37,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,13.814468,...,LAT PHRAO,ลาดพร้าว,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,2017-12-06 13:10:23,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,13.834361,...,LAT PHRAO,ลาดพร้าว,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,2017-11-30 11:12:12,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,13.859872,...,KHLONG SAM WA,คลองสามวา,3781.0,Bangkok,กรุงเทพมหานคร,10510.0,2017-03-02 11:07:30,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,18.808447,...,DOI SAKET,ดอยสะเก็ด,1005.0,Chiang Mai,เชียงใหม่,50220.0,2015-09-28 09:00:28,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,12.684945,...,BAN CHANG,บ้านฉาง,3431.0,Rayong,ระยอง,21330.0,2019-07-05 17:10:33,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [25]:
project_df.dropna(subset = ['propertytype_name_en','price_min'])

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [26]:
project_df.dropna(subset = ['propertytype_name_en','price_min']).isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

In [27]:
project_df.dropna(subset = ['propertytype_name_en','price_min'] ,inplace =True)

1. กำจัดค่า missing โดยการตัด column ให้น้อยที่สุด โดยที่จำนวน records ที่ไม่มี missing เลย ยังเหลือมากกว่า 80% 

2. สร้าง DATA ที่ ค่าใน columns [price_min, neighborhood_name_en,developer_name_en] มี missing ไม่เกิน 1 ค่า

In [28]:
project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/Copy of opendata_project.csv')
project_df.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

1. กำจัดค่า missing โดยการตัด column ให้น้อยที่สุด โดยที่จำนวน records ที่ไม่มี missing เลย ยังเหลือมากกว่า 80%

In [29]:
project_df.dropna(thresh = 23434*80/100,axis = 1)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,latitude,...,province_id,province_name_en,province_name_th,zipcode,count_unit,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,13.570530,...,3498.0,Samut Prakan,สมุทรปราการ,10280.0,NaN,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,13.033814,...,4616.0,Chon Buri,ชลบุรี,20230.0,77.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,13.417402,...,4616.0,Chon Buri,ชลบุรี,20160.0,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,15.038042,...,2857.0,Nakhon Ratchasima,นครราชสีมา,30000.0,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,13.965246,...,3599.0,Pathum Thani,ปทุมธานี,12000.0,485.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,13.814468,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,123.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,13.834361,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,55.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,13.859872,...,3781.0,Bangkok,กรุงเทพมหานคร,10510.0,292.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,18.808447,...,1005.0,Chiang Mai,เชียงใหม่,50220.0,259.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,12.684945,...,3431.0,Rayong,ระยอง,21330.0,70.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [30]:
project_df.dropna(thresh = 23434*80/100,axis = 1).dropna()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,latitude,...,province_id,province_name_en,province_name_th,zipcode,count_unit,date_created,date_finish,date_updated,source,url_project
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,13.033814,...,4616.0,Chon Buri,ชลบุรี,20230.0,77.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,13.965246,...,3599.0,Pathum Thani,ปทุมธานี,12000.0,485.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
5,9434.0,project_15884,H2 Wood,เอชทู วูด,2,Condo,คอนโด,1480000.0,developer_1789,13.865311,...,3781.0,Bangkok,กรุงเทพมหานคร,10220.0,79.0,2019-06-28 13:47:37,2015-12-31 07:00:00,2020-12-04 10:43:13,baania,https://baania.com/th/project/เอชทู-วูด-projec...
7,9022.0,project_1488,Homeland 3 Paradise Garden,โฮมแลนด์ 3 พาราไดซ์ การ์เด้น,1,Detached House,บ้าน,2600000.0,developer_1336,14.973075,...,2857.0,Nakhon Ratchasima,นครราชสีมา,30000.0,309.0,2016-06-10 14:52:22,2022-01-01 07:00:00,2022-02-28 18:30:07,baania,https://baania.com/th/project/โฮมแลนด์-3-พาราไ...
8,7266.0,project_6637,Lumpini Place Rama 4-Sathorn,ลุมพินีเพลสพระราม 4-สาทร,2,Condo,คอนโด,1990000.0,developer_1745,13.718633,...,3781.0,Bangkok,กรุงเทพมหานคร,10120.0,231.0,2017-05-04 13:45:47,2003-12-31 07:00:00,2020-12-04 10:40:46,baania,https://baania.com/th/project/ลุมพินีเพลสพระรา...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,13.814468,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,123.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,13.834361,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,55.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,13.859872,...,3781.0,Bangkok,กรุงเทพมหานคร,10510.0,292.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,18.808447,...,1005.0,Chiang Mai,เชียงใหม่,50220.0,259.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,12.684945,...,3431.0,Rayong,ระยอง,21330.0,70.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [31]:
project_df.dropna(thresh = 23434*81/100,axis = 1).dropna()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,latitude,...,province_id,province_name_en,province_name_th,zipcode,count_unit,date_created,date_finish,date_updated,source,url_project
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,13.033814,...,4616.0,Chon Buri,ชลบุรี,20230.0,77.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,13.965246,...,3599.0,Pathum Thani,ปทุมธานี,12000.0,485.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
5,9434.0,project_15884,H2 Wood,เอชทู วูด,2,Condo,คอนโด,1480000.0,developer_1789,13.865311,...,3781.0,Bangkok,กรุงเทพมหานคร,10220.0,79.0,2019-06-28 13:47:37,2015-12-31 07:00:00,2020-12-04 10:43:13,baania,https://baania.com/th/project/เอชทู-วูด-projec...
7,9022.0,project_1488,Homeland 3 Paradise Garden,โฮมแลนด์ 3 พาราไดซ์ การ์เด้น,1,Detached House,บ้าน,2600000.0,developer_1336,14.973075,...,2857.0,Nakhon Ratchasima,นครราชสีมา,30000.0,309.0,2016-06-10 14:52:22,2022-01-01 07:00:00,2022-02-28 18:30:07,baania,https://baania.com/th/project/โฮมแลนด์-3-พาราไ...
8,7266.0,project_6637,Lumpini Place Rama 4-Sathorn,ลุมพินีเพลสพระราม 4-สาทร,2,Condo,คอนโด,1990000.0,developer_1745,13.718633,...,3781.0,Bangkok,กรุงเทพมหานคร,10120.0,231.0,2017-05-04 13:45:47,2003-12-31 07:00:00,2020-12-04 10:40:46,baania,https://baania.com/th/project/ลุมพินีเพลสพระรา...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,13.814468,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,123.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,13.834361,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,55.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,13.859872,...,3781.0,Bangkok,กรุงเทพมหานคร,10510.0,292.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,18.808447,...,1005.0,Chiang Mai,เชียงใหม่,50220.0,259.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,12.684945,...,3431.0,Rayong,ระยอง,21330.0,70.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [32]:
project_df.dropna(thresh = 23434*82/100,axis = 1).dropna()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,latitude,...,province_id,province_name_en,province_name_th,zipcode,count_unit,date_created,date_finish,date_updated,source,url_project
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,13.033814,...,4616.0,Chon Buri,ชลบุรี,20230.0,77.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,13.965246,...,3599.0,Pathum Thani,ปทุมธานี,12000.0,485.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
5,9434.0,project_15884,H2 Wood,เอชทู วูด,2,Condo,คอนโด,1480000.0,developer_1789,13.865311,...,3781.0,Bangkok,กรุงเทพมหานคร,10220.0,79.0,2019-06-28 13:47:37,2015-12-31 07:00:00,2020-12-04 10:43:13,baania,https://baania.com/th/project/เอชทู-วูด-projec...
7,9022.0,project_1488,Homeland 3 Paradise Garden,โฮมแลนด์ 3 พาราไดซ์ การ์เด้น,1,Detached House,บ้าน,2600000.0,developer_1336,14.973075,...,2857.0,Nakhon Ratchasima,นครราชสีมา,30000.0,309.0,2016-06-10 14:52:22,2022-01-01 07:00:00,2022-02-28 18:30:07,baania,https://baania.com/th/project/โฮมแลนด์-3-พาราไ...
8,7266.0,project_6637,Lumpini Place Rama 4-Sathorn,ลุมพินีเพลสพระราม 4-สาทร,2,Condo,คอนโด,1990000.0,developer_1745,13.718633,...,3781.0,Bangkok,กรุงเทพมหานคร,10120.0,231.0,2017-05-04 13:45:47,2003-12-31 07:00:00,2020-12-04 10:40:46,baania,https://baania.com/th/project/ลุมพินีเพลสพระรา...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,13.814468,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,123.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,13.834361,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,55.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,13.859872,...,3781.0,Bangkok,กรุงเทพมหานคร,10510.0,292.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,18.808447,...,1005.0,Chiang Mai,เชียงใหม่,50220.0,259.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,12.684945,...,3431.0,Rayong,ระยอง,21330.0,70.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [33]:
project_df.dropna(thresh = 23434*83/100,axis = 1).dropna()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,latitude,...,province_id,province_name_en,province_name_th,zipcode,count_unit,date_created,date_finish,date_updated,source,url_project
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,13.033814,...,4616.0,Chon Buri,ชลบุรี,20230.0,77.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,13.965246,...,3599.0,Pathum Thani,ปทุมธานี,12000.0,485.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
5,9434.0,project_15884,H2 Wood,เอชทู วูด,2,Condo,คอนโด,1480000.0,developer_1789,13.865311,...,3781.0,Bangkok,กรุงเทพมหานคร,10220.0,79.0,2019-06-28 13:47:37,2015-12-31 07:00:00,2020-12-04 10:43:13,baania,https://baania.com/th/project/เอชทู-วูด-projec...
7,9022.0,project_1488,Homeland 3 Paradise Garden,โฮมแลนด์ 3 พาราไดซ์ การ์เด้น,1,Detached House,บ้าน,2600000.0,developer_1336,14.973075,...,2857.0,Nakhon Ratchasima,นครราชสีมา,30000.0,309.0,2016-06-10 14:52:22,2022-01-01 07:00:00,2022-02-28 18:30:07,baania,https://baania.com/th/project/โฮมแลนด์-3-พาราไ...
8,7266.0,project_6637,Lumpini Place Rama 4-Sathorn,ลุมพินีเพลสพระราม 4-สาทร,2,Condo,คอนโด,1990000.0,developer_1745,13.718633,...,3781.0,Bangkok,กรุงเทพมหานคร,10120.0,231.0,2017-05-04 13:45:47,2003-12-31 07:00:00,2020-12-04 10:40:46,baania,https://baania.com/th/project/ลุมพินีเพลสพระรา...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,13.814468,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,123.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,13.834361,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,55.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,13.859872,...,3781.0,Bangkok,กรุงเทพมหานคร,10510.0,292.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,18.808447,...,1005.0,Chiang Mai,เชียงใหม่,50220.0,259.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,12.684945,...,3431.0,Rayong,ระยอง,21330.0,70.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [34]:
project_df.dropna(thresh = 23434*82.1/100,axis = 1).dropna()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,latitude,...,province_id,province_name_en,province_name_th,zipcode,count_unit,date_created,date_finish,date_updated,source,url_project
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,13.033814,...,4616.0,Chon Buri,ชลบุรี,20230.0,77.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,13.965246,...,3599.0,Pathum Thani,ปทุมธานี,12000.0,485.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
5,9434.0,project_15884,H2 Wood,เอชทู วูด,2,Condo,คอนโด,1480000.0,developer_1789,13.865311,...,3781.0,Bangkok,กรุงเทพมหานคร,10220.0,79.0,2019-06-28 13:47:37,2015-12-31 07:00:00,2020-12-04 10:43:13,baania,https://baania.com/th/project/เอชทู-วูด-projec...
7,9022.0,project_1488,Homeland 3 Paradise Garden,โฮมแลนด์ 3 พาราไดซ์ การ์เด้น,1,Detached House,บ้าน,2600000.0,developer_1336,14.973075,...,2857.0,Nakhon Ratchasima,นครราชสีมา,30000.0,309.0,2016-06-10 14:52:22,2022-01-01 07:00:00,2022-02-28 18:30:07,baania,https://baania.com/th/project/โฮมแลนด์-3-พาราไ...
8,7266.0,project_6637,Lumpini Place Rama 4-Sathorn,ลุมพินีเพลสพระราม 4-สาทร,2,Condo,คอนโด,1990000.0,developer_1745,13.718633,...,3781.0,Bangkok,กรุงเทพมหานคร,10120.0,231.0,2017-05-04 13:45:47,2003-12-31 07:00:00,2020-12-04 10:40:46,baania,https://baania.com/th/project/ลุมพินีเพลสพระรา...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,13.814468,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,123.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,13.834361,...,3781.0,Bangkok,กรุงเทพมหานคร,10230.0,55.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,13.859872,...,3781.0,Bangkok,กรุงเทพมหานคร,10510.0,292.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,18.808447,...,1005.0,Chiang Mai,เชียงใหม่,50220.0,259.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,12.684945,...,3431.0,Rayong,ระยอง,21330.0,70.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

2. สร้าง DATA ที่ ค่าใน columns [price_min, neighborhood_name_en,developer_name_en] มี missing ไม่เกิน 1 ค่า

In [35]:
project_df.dropna(subset = ['price_min', 'neighborhood_name_en','developer_name_en'],thresh =2)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [36]:
project_df.dropna(subset = ['price_min', 'neighborhood_name_en','developer_name_en'],thresh =2)[['price_min', 'neighborhood_name_en','developer_name_en']].dropna(thresh = 2)

       price_min neighborhood_name_en              developer_name_en
0      3790000.0       MANGKON NAKDEE   Winning Asset Plus Co., Ltd.
1      1100000.0               BO WIN       Gift Asset Land Co.,Ltd.
2            0.0        NONG TAMLUENG                            NaN
3            0.0     BUENG THAP CHANG                            NaN
4      1930000.0            BANG DUEA   Preuksa Real Estate Co.,Ltd.
...          ...                  ...                            ...
23429  5700000.0            LAT PHRAO         AP (Thailand) Co,. Ltd
23430  3590000.0       KASET NAWA MIN       Areeya Property Co.,Ltd.
23431  1870000.0            KHANNAYAO  Wangthong Group Pub Co., Ltd.
23432  4000000.0     SAN PU LOEI NUEA     Homeland Service Co., Ltd.
23433  2800000.0             HAT PHLA                            NaN

[20738 rows x 3 columns]

# แทนค่า missing ด้วยค่าที่เหมาะสม (class ใหม่, ค่าที่เราคิดว่าเหมาะสม)

In [37]:
unit_df

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [38]:
unit_df.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

In [39]:
unit_df.fillna(0)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,0.0,37.3,2500000.0,...,1.0,1.0,0.0,0.0,0.0,0.0,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,0.0,28.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,0.0,27.0,170000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,0.0,182.0,2390000.0,...,1.0,1.0,0.0,0.0,2.0,0.0,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,0.0,157.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,0.0,223.0,7490000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,0.0,133.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,0.0,180.0,3200000.0,...,0.0,1.0,0.0,0.0,0.0,0.0,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,0.0,170.0,3790000.0,...,1.0,1.0,0.0,0.0,0.0,0.0,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [40]:
unit_df.fillna(0).isnull().any().any()

False

In [41]:
unit_df.fillna({'count_elevator':0}).describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,42625.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,0.0,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,0.0,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,0.0,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,0.0,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,0.0,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,0.0,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,0.0,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

In [42]:
import numpy as np

In [43]:
unit_df['count_room_bath'].mean()

2.2862628815866226

In [44]:
np.round(unit_df['count_room_bath'].mean())

2.0

In [45]:
unit_df = unit_df.fillna({'count_room_bath':np.round(unit_df['count_room_bath'].mean())})

In [46]:
unit_df.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath         False
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

#แทนที่ missing ด้วยค่า mean ของกลุ่ม

In [47]:
unit_df['propertytype_name_en']

0                 Condo
1            Twin house
2                 Condo
3                 Condo
4              Townhome
              ...
42620    Detached House
42621    Detached House
42622          Townhome
42623    Detached House
42624    Detached House
Name: propertytype_name_en, Length: 42625, dtype: object

In [48]:
set(unit_df['propertytype_name_en'])

{'Apartment',
 'Commercial',
 'Condo',
 'Detached House',
 'Home office',
 'Hotel',
 'Land',
 'Office Space',
 'Townhome',
 'Twin house',
 'Warehouse / Factory'}

## ลองทำกลุ่ม Apartment ก่อน

In [49]:
unit_df[unit_df['propertytype_name_en']=='Apartment']

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
170,35223,unittype_1773,project_930,Studio,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:57,2021-02-02 14:24:42,baania,https://baania.com/th/project/คอนโดเทรล-930/st...
1977,20308,unittype_2998,project_1013,VIP 2 Biz,5,Apartment,อพาตเมนต์,NaN,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:05,2020-10-14 20:17:29,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
3377,27183,unittype_3050,project_414,Type D,5,Apartment,อพาตเมนต์,NaN,195.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
5925,35461,unittype_5380,project_1802,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:33,2020-10-14 01:10:53,baania,https://baania.com/th/project/เดอะ-เกรท-คอนโด-...
9201,15984,5ebe5dd684c1860019f324a5,5ebe5d9c84c1860019f3249f,Studio,5,Apartment,อพาตเมนต์,NaN,34.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:58,2021-02-02 14:50:22,baania,https://baania.com/th/project/นิว-นอร์ดิค-คลับ...
10915,15981,5ebe5df084c1860019f324a9,5ebe5d9c84c1860019f3249f,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:33,2021-01-26 11:24:37,baania,https://baania.com/th/project/นิว-นอร์ดิค-คลับ...
11404,36820,unittype_11469,project_4074,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,30.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:05,2020-10-14 00:58:41,baania,https://baania.com/th/project/ลี-เพลส-พัฒนาการ...
11972,41097,6183cbbeb9424100136bb3f2,6183ca8929f24100138ad0fb,3 Bedroom,5,Apartment,อพาตเมนต์,NaN,250.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-24 12:30:11,2022-01-24 12:08:26,baania,https://baania.com/th/project/เดอะ-แกรนด์-เศรษ...
12822,40225,60a75c53636bb200158f2ef6,60a7574ae23fb00014597233,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:31:56,2021-05-21 14:10:12,baania,https://baania.com/th/project/ชิค-ดิสทริคท์-รา...
13366,39976,6062b59f6bb5970014340065,6062b4acca1e9b0013db19c7,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,2490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-30 15:00:05,2021-03-30 14:29:37,baania,https://baania.com/th/project/นิว-นอร์ดิค-เทรน...
13497,17651,5f3f54636320a6001975129d,5f3f53856320a60019751299,2 Bedroom,5,Apartment,อพาตเมนต์,NaN,236.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:32:07,2021-05-27 13:09:24,baania,https://baania.com/th/project/รวิวรรณ-สเปซ-5f3...
13517,5216,unittype_35213,project_15110,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,84.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:53,2021-03-09 16:02:35,baania,https://baania.com/th/project/ปาร์ควิว-แมนชั่น...
14881,20485,unittype_1953,project_1013,VIP 1 Gold,5,Apartment,อพาตเมนต์,NaN,36.0,1600000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2021-11-12 13:22:53,2020-10-14 20:17:30,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
15569,35469,unittype_5381,project_1803,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:33,2020-10-14 01:10:54,baania,https://baania.com/th/project/ไดมอน-คอนโด-1803...
16582,14433,5e7c32a80b71920019aa93c2,5e7c32710b71920019aa93c1,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:33:02,2020-06-19 15:56:59,baania,https://baania.com/th/project/ซัมเมอร์-เพลส-5e...
16700,25,unittype_31110,project_13094,Studio,5,Apartment,อพาตเมนต์,NaN,20.0,1390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:32:30,2021-06-08 15:04:02,baania,https://baania.com/th/project/มีสินดี-อพาร์ทเม...
17142,21371,unittype_3000,project_1013,Studio,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-02-02 14:30:07,2021-02-02 14:24:24,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
18701,21850,unittype_9252,project_3180,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,26.0,1790000.0,...,1.0,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:30:26,2021-02-18 14:53:37,baania,https://baania.com/th/project/ไอเดียบลู-บูทีค-...
18754,21374,unittype_1575,project_795,โชคชัยทาวเวอร์,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:49,2020-10-14 01:07:22,baania,https://baania.com/th/project/โชคชัยทาวเวอร์-7...
20325,15982,5ebe5e1c84c1860019f324b5,5ebe5d9c84c1860019f3249f,2 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:33,2021-01-26 11:24:48,baania,https://baania.com/th/project/นิว-นอร์ดิค-คลับ...
20961,21370,unittype_2999,project_1013,Deluxe,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:04,2020-10-14 20:17:29,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
23626,36817,unittype_11465,project_4074,Studio,5,Apartment,อพาตเมนต์,NaN,20.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:05,2020-10-14 00:58:41,baania,https://baania.com/th/project/ลี-เพลส-พัฒนาการ...
24450,42379,62610249f18e1c0013e80c26,6260fefc54ecb20016075581,เพนต์เฮ้าส์,5,Apartment,อพาตเมนต์,NaN,228.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-21 14:30:08,2022-04-21 14:10:19,baania,https://baania.com/th/project/เวลา-ชะอำ-เรสซิเ...
25959,27185,unittype_3048,project_414,Type B,5,Apartment,อพาตเมนต์,NaN,162.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
27484,5215,unittype_35214,project_15110,2 Bedroom,5,Apartment,อพาตเมนต์,NaN,120.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:53,2021-03-09 16:02:48,baania,https://baania.com/th/project/ปาร์ควิว-แมนชั่น...
28324,21851,unittype_9253,project_3180,1 Bedroom Front,5,Apartment,อพาตเมนต์,NaN,38.0,1790000.0,...,1.0,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:30:26,2021-02-18 14:53:37,baania,https://baania.com/th/project/ไอเดียบลู-บูทีค-...
29189,27184,unittype_3049,project_414,Type C,5,Apartment,อพาตเมนต์,NaN,175.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
32638,21852,unittype_9255,project_3180,Studio Room,5,Apartment,อพาตเมนต์,NaN,40.0,1790000.0,...,1.0,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:30:26,2021-02-18 14:53:37,baania,https://baania.com/th/project/ไอเดียบลู-บูทีค-...
32884,41098,6183cbf545b4f80014b2cc99,6183ca8929f24100138ad0fb,Penthouse,5,Apartment,อพาตเมนต์,NaN,450.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-24 12:30:11,2022-01-24 12:08:19,baania,https://baania.com/th/project/เดอะ-แกรนด์-เศรษ...
33055,11996,unittype_4993,project_1577,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,50.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:32,2020-10-14 01:10:50,baania,https://baania.com/th/project/คริสตัลคอนโดจอหอ...
35001,24122,unittype_16170,project_6283,ยูเนียนทาวเวอร์,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:52,2021-03-09 09:28:09,baania,https://baania.com/th/project/เออร์เบิร์น-เรสซ...
35773,38997,unittype_9257,project_3180,Studio Conner Room (ขายแล้ว),5,Apartment,อพาตเมนต์,NaN,31.0,NaN,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:30:26,2021-02-18 14:53:37,baania,https://baania.com/th/project/ไอเดียบลู-บูทีค-...
35885,18399,5fa52821d0235b0019c19868,5fa527e8c7e7740019437831,Studio,5,Apartment,อพาตเมนต์,NaN,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:51,2021-03-08 11:25:27,baania,https://baania.com/th/project/ซีวิค-เพลส-5fa52...
36394,15927,5ebcbacc42ad800019cd16cc,5ebcb99c42ad800019cd16b7,2 Bedroom,5,Apartment,อพาตเมนต์,NaN,90.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:18:34,2020-06-02 16:49:46,baania,https://baania.com/th/project/บลิส-บาย-เดอะ-โอ...
36413,36818,unittype_11476,project_4074,2 Bedroom Plus,5,Apartment,อพาตเมนต์,NaN,52.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:05,2020-10-14 00:58:41,baania,https://baania.com/th/project/ลี-เพลส-พัฒนาการ...
36707,24,unittype_31111,project_13094,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,32.0,2370000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:32:30,2021-06-08 15:04:02,baania,https://baania.com/th/project/มีสินดี-อพาร์ทเม...
37559,36819,unittype_11474,project_4074,1 Bedroom Plus,5,Apartment,อพาตเมนต์,NaN,38.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:05,2020-10-14 00:58:41,baania,https://baania.com/th/project/ลี-เพลส-พัฒนาการ...
38017,18400,5fa52867c7e7740019437834,5fa527e8c7e7740019437831,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:51,2021-03-08 11:25:39,baania,https://baania.com/th/project/ซีวิค-เพลส-5fa52...
40149,27186,unittype_1080,project_414,Type A,5,Apartment,อพาตเมนต์,NaN,140.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:07,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
40888,41096,6183cb47b9424100136bb3ee,6183ca8929f24100138ad0fb,2 Bedroom,5,Apartment,อพาตเมนต์,NaN,115.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-24 12:30:11,2022-01-24 12:08:33,baania,https://baania.com/th/project/เดอะ-แกรนด์-เศรษ...
40902,27182,unittype_3052,project_414,Type E,5,Apartment,อพาตเมนต์,NaN,190.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
41908,42377,6261021389233e001362ae1b,6260fefc54ecb20016075581,ดูเพล็กซ์,5,Apartment,อพาตเมนต์,NaN,145.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-21 14:30:08,2022-04-21 14:10:19,baania,https://baania.com/th/project/เวลา-ชะอำ-เรสซิเ...

หาค่า mean ของ price_min

In [50]:
unit_df[unit_df['propertytype_name_en']=='Apartment']['price_min'].mean()

1888571.4285714286

แทนค่า missing ของกลุ่ม

In [51]:
unit_df_apart = unit_df[unit_df['propertytype_name_en']=='Apartment'].fillna({'price_min' : unit_df[unit_df['propertytype_name_en']=='Apartment']['price_min'].mean()})

In [52]:
unit_df_condo = unit_df[unit_df['propertytype_name_en']=='Condo'].fillna({'price_min' : unit_df[unit_df['propertytype_name_en']=='Condo']['price_min'].mean()})

## ต่อตารางในแนวแกน Y (เพิ่มจำนวนข้อมูล)

In [53]:
fused_df = pd.concat([unit_df_apart,unit_df_condo])
fused_df

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
170,35223,unittype_1773,project_930,Studio,5,Apartment,อพาตเมนต์,NaN,NaN,1.888571e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:57,2021-02-02 14:24:42,baania,https://baania.com/th/project/คอนโดเทรล-930/st...
1977,20308,unittype_2998,project_1013,VIP 2 Biz,5,Apartment,อพาตเมนต์,NaN,30.0,1.888571e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:05,2020-10-14 20:17:29,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
3377,27183,unittype_3050,project_414,Type D,5,Apartment,อพาตเมนต์,NaN,195.0,1.888571e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
5925,35461,unittype_5380,project_1802,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,1.888571e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:33,2020-10-14 01:10:53,baania,https://baania.com/th/project/เดอะ-เกรท-คอนโด-...
9201,15984,5ebe5dd684c1860019f324a5,5ebe5d9c84c1860019f3249f,Studio,5,Apartment,อพาตเมนต์,NaN,34.0,1.888571e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:58,2021-02-02 14:50:22,baania,https://baania.com/th/project/นิว-นอร์ดิค-คลับ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42590,23548,unittype_15279,project_3976,1 Bedroom Tower 1 Floor 5-6,2,Condo,คอนโด,NaN,33.0,9.890000e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:01,2020-10-14 00:58:25,baania,https://baania.com/th/project/เดอะ-สตาร์-คอนโด...
42602,39384,unittype_3476,project_812,2 Bedroom Type A,2,Condo,คอนโด,NaN,94.0,6.345000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 11:00:11,2022-01-14 10:32:44,baania,https://baania.com/th/project/เดอะ-ยูนีค-คอนโด...
42604,1058,unittype_7949,project_2641,Typical 1 Bedroom,2,Condo,คอนโด,NaN,34.0,3.120000e+06,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:25:14,2020-10-27 15:03:40,baania,https://baania.com/th/project/ศุภาลัย-ไลท์-รัช...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,คอนโด,NaN,71.0,1.700000e+07,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:23:03,2020-10-14 20:30:43,baania,https://baania.com/th/project/เดอะ-ไลน์-สาทร-1...
42615,36172,unittype_34140,project_14663,2 Bedroom,2,Condo,คอนโด,NaN,60.0,3.500000e+06,...,1.0,NaN,NaN,NaN,NaN,NaN,2022-02-28 15:30:05,2022-02-28 14:43:35,baania,https://baania.com/th/project/พลัส-คอนโด-โคราช...

#### วนลูปทำทุกกลุ่ม

In [54]:
unit_df_temp0 = unit_df['propertytype_name_en'] == list(set(unit_df['propertytype_name_en']))[0]].fillna({'price_min' : unit_df[unit_df['propertytype_name_en']==list(set(unit_df['propertytype_name_en']))[0]]
for group in list(set(unit_df['propertytype_name_en']))[1:]:
    print(group)
    unit_df_temp1 = unit_df[unit_df['propertytype_name_en']==group].fillna({'price_min' : unit_df[unit_df['propertytype_name_en']=='group']['price_min'].mean()})
    unit_df_temp0 = pd.concat([unit_df_temp0,unit_df_temp1])

SyntaxError: ignored

{'Apartment',
 'Commercial',
 'Condo',
 'Detached House',
 'Home office',
 'Hotel',
 'Land',
 'Office Space',
 'Townhome',
 'Twin house',
 'Warehouse / Factory'}

In [ ]:
for i in {'Apartment', 'Commercial', 'Condo', 'Detached House', 'Home office', 'Hotel', 'Land', 'Office Space', 'Townhome', 'Twin house', 'Warehouse , Factory'}
print(i)
unit_df_Commercial = unit_df[unit_df['propertytype_name_en']=='Commercial'].fillna({'price_min' : unit_df[unit_df['propertytype_name_en']=='Commercial']['price_min'].mean()})
fused_df = pd.concat([unit_df_apart,unit_df_condo,unit_df_Commercial,unit_df_Detached House,unit_df_Home office,unit_df_Hotel,unit_df_Land,unit_df_Office Space,unit_df_Townhome,unit_df_Twin house,unit_df_Warehouse,unit_df_Factory])
fused_df

ตามอาจารย์

In [ ]:
unit_df_temp0 = unit_df[unit_df['propertytype_name_en']==list(set(unit_df['propertytype_name_en']))[0]].fillna({'price_min' : unit_df[unit_df['propertytype_name_en']==list(set(unit_df['propertytype_name_en']))[0]]['price_min'].mean()})

for group in list(set(unit_df['propertytype_name_en']))[1:]:
  #print(group)
  unit_df_temp1 = unit_df[unit_df['propertytype_name_en']==group].fillna({'price_min' : unit_df[unit_df['propertytype_name_en']==group]['price_min'].mean()})
  unit_df_temp0 = pd.concat([unit_df_temp0, unit_df_temp1])

In [ ]:
unit_df_temp0.isnull().any()

### ต่อตารางในแนวแกน x (เพิ่ม feature ให้กับ DATA)

In [ ]:
project_df.isnull().any()

In [ ]:
project_df.head()

Merge (เอาตาราง 2 อันมารวมกัน)

In [ ]:
merged_df = unit_df.merge(project_df,left_on='project_id',right_on='project_id')
merged_df.head()

###Quiz 4
ราคาเฉลี่ยของบ้านเดี่ยวในจังหวัดขอนแก่นคือเท่าไหร่

In [ ]:
set(unit_df['propertytype_name_th'])

In [ ]:
project_df[(project_df['province_name_th']=='ขอนแก่น') & (project_df['propertytype_name_th']=='บ้าน')].mean()

In [ ]:
merged_table[(merged_table['province_name_th']=='ขอนแก่น']['price_min')&(merged_table['propertytype_name_th']=='บ้าน']['price_min')].mean()

In [ ]:
 merged_table[merged_table['propertytype_name_th']=='บ้าน']['price_min'].mean()

เฉลย

In [ ]:
merged_df[(merged_df['propertytype_name_th_x']=='บ้าน') & (merged_df['province_name_th']=='ขอนแก่น')]['price_min_x'].mean()

In [ ]:
merged_df[(merged_df['propertytype_name_th_x']=='บ้าน') & (merged_df['province_name_th']=='ขอนแก่น')]['price_min_x'].mean()

Map (เลือกเอา column จากตารางรองมาแปะ)

In [ ]:
unit_df['province_name_th'] = unit_df['project_id'].map(project_df.set_index('project_id'))['province_name_th']

HW 2 หาพฤติกรรมของ Merge ว่าเวลา Merge แล้ว key ในตารางรองไม่ unique มัน merge ยังไง

In [ ]:
project_df_nodup = project_df.drop_duplicates(subset=['project_id'])

In [ ]:
project_df.shape

In [ ]:
project_df_nodup.shape

In [ ]:
unit_df['province_name_th'] = unit_df['project_id'].map(project_df_nodup.set_index('project_id'))['province_name_th']

HW 2 หาพฤติกรรมของ Merge ว่าเวลา Merge แล้ว key ในตารางรองไม่ unique มัน merge ยังไง

In [57]:
table1_df = pd.read_csv('/content/drive/MyDrive/DPDM65/table1.csv')
table1_df.head()

    ก  ข  ค   ง
0  12  5  2  21
1   8  7  3  22
2  14  9  4  23

In [58]:
table2_df = pd.read_csv('/content/drive/MyDrive/DPDM65/table2.csv')
table2_df.head()

    ก   ข  ค   ง
0  12   6  5  31
1  10   7  6  32
2  16  11  7  23

In [62]:
table3_df = pd.read_csv('/content/drive/MyDrive/DPDM65/table3.csv')
table3_df.head()

    ก  a  b   c
0  12  5  2  21
1  10  7  3  22
2  14  9  4  23

In [63]:
table4_df = table1_df.merge(table3_df,left_on='ก',right_on = 'ก')
table4_df

    ก  ข  ค   ง  a  b   c
0  12  5  2  21  5  2  21
1  14  9  4  23  9  4  23

จากตาราง table4_df จะเห็นว่าถ้า key ในตารางหลักและตารางรองซ้ำกัน จะมีการเลือก key ในตารางหลัก แล้วนำค่าในตารางรองมาต่อ ส่วนแถวจะเลือกเอาเฉพาะแถวที่มีค่าเหมือนกันตาม key ที่เลือก

In [64]:
table5_df = table1_df.merge(table2_df,left_on='ก',right_on = 'ก')
table5_df

    ก  ข_x  ค_x  ง_x  ข_y  ค_y  ง_y
0  12    5    2   21    6    5   31

จากตาราง table4_df จะเห็นว่าถ้า ซื้อ column เหมือนกันจะมีการใช้ key ตามตารางหลักและ ต่อ column โดยการเปลี่ยนชื่อ column โดยการต่อ _x